<form method='post' action='/peeps/add'>
  <div>
    <label for = 'peep'>Make a peep: </label>
    <input type = 'text' name = 'peep'>
  </div>
  <div>
  <div class="button">
    <button type='submit'>Submit peep</button>
  </div>
</form>